body {
font-size: small;
width: 100%;
margin:0;
padding:0;
background-color: #8b0000;
}

div.fav{
 margin:0;
 padding:0;
 background-image:url('/image.jpg');
 background-position:center center;
 background-size:100% auto;
 background-repeat: no-repeat;
 opacity:0.8;
}


h1#strcolor1{

margin:0;
padding:0;
color: #800000;
-webkit-text-stroke: 0.5px #fff;
}

.strcolor2{
font-weight:bolder;
 font-size: medium;
color:#8b0000;
-webkit-text-stroke: 0.25px #fff;
}


#category-title{
vertical-align: -8px
}

#category-second-title{
vertical-align: -8px;
}

#search{
  width: 100px;
}

select#category{
 width: 100px;
}

select#category-second{
 width: 100px;
}


div#users{

background-color: #d89999;
margin:0;
padding:0;
}


table {
   table-layout: fixed;
   width: 100%;
}

th,td {
   background-color: #d89999;
   border: solid 1px;   /* 枠線指定 */
}

.checkbox{
  background-color: #d89999;
  border: 0px none;
}

/*checkbox*/
th.A0{
 width:15px;
}

/*曲名*/
th.A1 {
 width: 200px;
}

/*歌手名*/
th.A2{
 width: 165px;
}


/*配信日*/
th.A3 {
  width: 75px;
}

/*配信タイトル*/
th.A4 {

}


/*カウント*/
th.A5 {
  width: 15px;
}



label {
   display: block;
   font: 1rem 'Fira Sans', sans-serif;
}


button.btn{
text-align: left;
width: 100%;
border: none;
background-color: #cb7a82;
}

.title{
 overflow:hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

input,
label {
   margin: .4rem 0;
}
